*{
    font-family: "Merriweather", serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

:root{
    --verde-escuro: #283B38;
    --preto: #2F2E2C;
    --marrom: #875F44;
    --marrom-escuro: #443023;
    --bege: #C9BDA9;
    --creme: ##E2DED1;
    }
    .primeiradiv {
        margin-inline: auto;
        margin-block: 5rem;
        padding-block: 2.5rem;
        padding-inline: 3rem;
        max-width: 70rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #E2DED1;
        border-radius: 2.5rem;
        box-shadow: 0px 0px 7px black;
    }


    .segundadiv {
        height: 30rem;
        margin-inline: auto;
        margin-block: 5rem;
        padding-block: 2.5rem;
        padding-inline: 3rem;
        max-width: 70rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #E2DED1;
        border-radius: 2.5rem;
        box-shadow: 0px 0px 7px black;
    }
   

    
    .segundadiv p {
        height: 10rem;
        width: 20rem;
    }

    .terceiradiv {
        width: 20rem;
        margin-inline: auto;
        margin-block: 5rem;
        padding-block: 2.5rem;
        padding-inline: 3rem;
        max-width: 70rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #E2DED1;
        border-radius: 2.5rem;
        box-shadow: 0px 0px 7px black;
    }
   
    
    p{
        font-size: large;
    }

    .header,
    .navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header{
        background-color: var(--marrom-escuro);
        justify-content: space-between;
        padding: 0 10%;
        height: 5rem;
        box-shadow: 1px 1px 4px black;
        padding: 0 10%;
    }
    
    .navegacao{
        gap: 3rem;
    }
    
    .navegacao a{
        text-decoration: none;
        color: var(--creme);
    }
    
    body{
     background-color: var(--marrom);
      text-align: center;
     font-size: 20px;
     color: var(--creme);
    }
    
     .titulo h1{

        color: black;
     }

    h1{
        font-size: 40px;
        font-style: bold;
        text-align: left;
        margin-left: 30px;
        padding-block: 20px;
    }

    img {
        height: 20rem;
        width: 20rem;
        border-radius: 5%;
    }

    h2{
        font-size: 2.5rem;
        text-align: left;
        margin-block: 1rem;
        color: var(--verde-escuro);
    }

    .texto {
        height: 20rem;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      
    .primeiradiv .texto {
            height: 11rem;
            width: 30rem;
            display: flex;
            align-items: center;
            flex-direction: column;
          }

    .primeiradiv p {
        height: 5rem;
        width: 30rem;
    }



    .terceiradiv img {
        margin-block: 1.5rem;
    }

    .primeiradiv, .segundadiv, .terceiradiv {
        margin-block: 5rem;
    }  
      .creditos{
        background-color: var(--bege);
        margin-inline: auto;
        margin-block: 5rem;
        height: 5rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 7px black;
      }

      .creditos p{
        font-size: 1rem;
      }